@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin btn-menu() {
  li {
    padding-top: 5px !important;
    margin-right: 5px;
    a {
      width: auto !important;
      text-decoration: none;
    }
  }
}