body {font:arial;}

li{ list-style: none; } 

#libelle { width: 220px; margin: 0 auto; padding-left: 5px;padding-right: 5px; text-align: center; font-weight: bold;border-width: 1px 0px 0px 0px;border-style: solid;} 

.ligne { width: 220px; margin: 0 auto; padding-left: 5px;padding-right: 5px;text-align: center; } 

#libelle li { float : left; width : 30px; } 

.ligne li { color: #000; float : left; width : 30px;   } 

/*.ligne li a:hover{ list-style: none; text-decoration: none;background-color:#ff6959; } */

li.itemCurrentItem { font-weight:bold; font-style: italic; background-color: #3E849E;}

li.itemSelectedItem { /* A vous de configurer l'apparence du jour sélectionné */ } 

li.itemExistingItem { background-color:#ff6959;text-decoration:line-through;}


li.itemPastItem { color:grey; background-color:white;}

li.itemPickableItem {cursor: pointer;font-style: normal;color:black;} 
li.itemPickableItem:hover {background-color: rgb(255,170,89);}
