@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import url('https://fonts.googleapis.com/css?family=Titan+One');
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', serif;
    font-size: large;

}
textarea:focus {
    border: none !important;
    background-color: transparent!important;
    resize: none !important;
    outline: none !important;
}
@media screen and (max-width: 364px){
        .sidenavBig{
            width: 80% !important;
        }

}

.noMargin{
  margin: 0!important;
}
.whiteColor{
  color: white!important;
}

footer{
    padding: 0!important;
}
.DivContact{
    background-color: #EA0B4D ;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    height: auto;
}
.divBorder1 {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.div_action{
    background-color: transparent !important;
}
.margin30px{
    margin: 30px;
    padding: 30px;
}
.white-text > label {
    font-weight: bold;
}
.sideNavText{
    color: #7BBECB !important
}
.row{
    margin: 0 !important;
    padding: 0 !important;
}
.card{
    box-shadow: none;
    min-height: 250px;
}

.displayNScroll::-webkit-scrollbar{
display: none}
body{
    background-color: white;
}
.cardall{
    background-color: white !important;
    border: 2px solid #EA0B4D;
    color: #EA0B4D !important;
}
.input_form{
    border-bottom: 1px solid white !important;
    color: white;
}
.input_form:focus{
    border-bottom: 1px solid gray!important;
    box-shadow: 0 1px 0 0 gray !important;
}
.textarea_form{
    color: white;
    height: 90px;
    border: 1px solid white!important;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
    resize: none;
}
.textarea_form:focus{
    border: 1px solid gray!important;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 20px !important;

}
.align_ul{
    justify-content: center;
    display: flex;
}
.li:hover{
    background: rgba(0,0,0,0.1);
}
.centreETC{
    text-align: center;
    line-height: 80px;
    height: 48px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
}
.colortext{
    color: #EA0B4D  !important;
}
.colortext1:hover{
    background-color: transparent !important;
}
.nav {
    padding:0;
    margin: 0;

    position: -webkit-sticky;
}
#navbar{

    font-size: 30px !important;
    z-index: 1 !important;
}

.sticky {
    position: fixed;
    top:0;
    width: 100%;
}
.stickyNav:hover{

    animation-duration: 0.5s;
    -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px#888;
    box-shadow: 0 0 3px 3px #888;
    transition: box-shadow 0.5s ease-out;
}

.marginTop3{
    margin-top: 20%;
}
.marginTop{
    margin-top: 15%;
}
.marginTop2{
    margin-top: 5%;
}

#mapGG{
    height: 10%;
    width: 100%;
}
.displayNone{
    display: none;
}
.radBrdTemp{
  border-radius: 40px;
  border: 3px solid #FF0048;
}

@keyframes animRightTop {

    0%   {border: 0px solid #EA0B4D;opacity: 0.1; right: 600px;}
    100% {border: 3px solid #EA0B4D;opacity: 1; right:0px;}

}
#cardImg{

    animation-name: animRightTop;
    animation-duration: 1s;
    border: 3px solid #EA0B4D;
    animation-timing-function: linear;

}
@keyframes cardLongHaut{
    0%   {border: 0px solid #EA0B4D;opacity: 0.1; left: 600px; bottom: 150px;}
    100% {border: 3px solid #EA0B4D;opacity: 1; left:0px; bottom: 0px;}
}

.animCardL{
    animation-name: cardLongHaut;
    animation-duration: 1s;
    border: 3px solid  #EA0B4D;
    animation-timing-function: linear;
}
@keyframes cardLongBas{
    0%   {border: 0px solid #EA0B4D;opacity: 0.1; left: 600px; top: 150px;}
    100% {border: 3px solid #EA0B4D;opacity: 1; left:0px; top: 0px;}

}
.animCardL2{
    animation-name: cardLongBas;
    animation-duration: 1s;
    border: 3px solid  #EA0B4D;
    animation-timing-function: linear;
}

@keyframes animInfo1 {
    0%    {top: 270px; opacity: 0.1;right: 68%; border: 0px solid #EA0B4D;}
    50%  {top: 0px; opacity: 0.3;right: 68%; border: 1px solid #EA0B4D;}
    100% {top: 0px; opacity: 1; right: 0%; border: 3px solid #EA0B4D;}
}
.animInfo1{
    animation-name: animInfo1;
    animation-duration: 1s;
    border: 3px solid #EA0B4D;
    animation-timing-function: linear;
}

@keyframes animInfo2 {
    0%    {bottom: 270px; opacity: 0.1;left: 68%; border: 0px solid #EA0B4D;}
    50%  {bottom: 0px; opacity: 0.3;left: 68%; border: 1px solid #EA0B4D;}
    100% {bottom: 0px; opacity: 1; left: 0%; border: 3px solid #EA0B4D;}
}
.animInfo2{
    animation-name: animInfo2;
    animation-duration: 1s;
    border: 3px solid #EA0B4D;
    animation-timing-function: linear;
}
.iconAlign{
    vertical-align: sub;
}
.align{
    text-align: center;
}
.colorCyan{
    color: #7BBECB !important;
}
.cardpresen{
    height: 400px;
    width: 90%;
    box-shadow: 0 15px 32px rgba(0,0,0,0.30), 0 12px 10px rgba(0,0,0,0.22);
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px;
}
.bgRouge{
    background-color: #EA0B4D !important;
}
.bgBleu{
    background-color: #348C9E !important;
}
.bgOrange{
    background-color: #FA9E05 !important;
}
.bgRougeC{
    background-color: #F69DB7 !important;
}
.bgBleuC{
    background-color: #7BBECB !important;
}
.bgOrangeC{
    background-color: #F2C57A !important;
}
.LittleOpa{
    opacity: 0.8;
}
.cardShadow{
    box-shadow: 0 8px 18px rgba(0,0,0,0.15), 0 7px 8px rgba(0,0,0,0.20);

}

.sticky{
  position: sticky;
}


#resaForm{
    background-color: #FF0048;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    margin: 10px!important;
}
#titleForm{
    color: white;
    text-align: center;
    margin: 0 !important;
}
#lieu{
}
#nbPersonne{
}
#dataPickerForm{
}
#submitResaForm{
  vertical-align: middle;
}
#departInput{
  cursor: pointer;
}
#arriveInput{
  cursor: pointer;
}
.btnSubmit{
  background-color: white !important;
  color: #FF0048 !important;
}
.bgBlueForm{
    background-color: #62BFCB!important;
}

/* MODIF des parametres "par defaut" de materialize */

/* modif Couleur text choix lieu */
li>a, .dropdown-content li>span{
    color:#62BFCB !important;
}

/* modif Couleur bar choix lieu */
.select-wrapper input.select-dropdown{
    border-bottom: 1px solid white!important;
}

/* modif couleur svg (fleche) */
.select-wrapper .caret{
    fill:white!important;
}

/* modif couleur label */
label{
    color: white!important;
}

/* modif indicator / selecteur nb personne (goutte) */
input[type=range]+.thumb{
    background-color: #62BFCB !important;
    z-index: 999 !important;
}

/* modif cercle selecteur nb personne */
input[type=range]::-webkit-slider-thumb {
    background-color: #62BFCB!important;
}
input[type=range]::-moz-range-thumb {
    background-color: #62BFCB!important;
}
input[type=range]::-ms-thumb {
    background-color: #62BFCB!important;
}

/* modif border white dataPicker */
input[type=text]:not(.browser-default){
    border-bottom: 2px solid white !important;
}

input[type=number]:not(.browser-default){
    border-bottom: 2px solid white !important;
}



#result {
    background-color: white;
    border-right: 2px solid #FF0048;
    border-bottom: 2px solid #FF0048;
    border-bottom-right-radius: 27px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    z-index: 2000;
    color: #FF0048;
}


.collapsible{
  -webkit-box-shadow: 0!important;
  box-shadow: 0 !important;
}
.collapsible-header{
  -webkit-box-shadow: 0!important;
  box-shadow: 0 !important;
}
.collapsible-body{
  -webkit-box-shadow: 0!important;
  box-shadow: 0 !important;
}



li{ list-style: none;
}

.libelle {
  width: 220px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-weight: bold;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
}

.ligne {
  width: 220px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.libelle li {
  float : left;
  width : 30px;
}

.ligne li {
  color: white;
  float : left;
  width : 30px;
}

/*.ligne li a:hover{ list-style: none; text-decoration: none;background-color:#ff6959; } */

li.itemCurrentItem {
  font-weight:bold;
  font-style: italic;
  background-color: #3E849E;
  color: black;
}

li.itemSelectedItem {
/* A vous de configurer l'apparence du jour sélectionné */
}

li.itemExistingItem {
  background-color:#ff6959;
  text-decoration:line-through;
}


li.itemPastItem {
  color:grey;
  background-color:white;
}

li.itemPickableItem {
  cursor: pointer;
  font-style: normal;
  color:black;
}

.titleCal{
  margin: 0 auto;
  font-size:25px;
  font-weight:bold;
  color: #FF0048!important;
  margin-bottom:20px;
  text-align: center;
}
.contentCal{
  display: none;
  flex-wrap: wrap;
  align-items: center!important;
  justify-content: center!important;
  align-self: center !important;
}

.clickedItem{
  background-color: blue!important;
}
