<footer class="page-footer red darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">CNcCV</h5>
                <p class="grey-text text-lighten-4">
                    Ce site vous propose de réserver une maison selon une période de votre choix, que vous soyez
                    particuliers ou professionnels.</p>
                <p> Toutes les maisons présentes sur le site se situent dans la ville du Mans, dans le département
                    sarthois.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liens rapides</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#resa">Réservez ici</a></li>
                    <li><a class="grey-text text-lighten-3" href="#maisons">Liste des maisons</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path('qui') }}">Qui sommes-nous ?</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path('qui') }}">Contact</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">GL Services</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 CNcCV & GL Services, All rights reserved
        </div>
    </div>
</footer>