<div id="{{ dataId }}" class="modal" data-id="{{ dataId }}">
    <div class="modal-content">
        {% include vue %}
    </div>
    {% if modalFooter %}
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    {% endif %}
</div>