<!--Menu admin-->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Liste</a></li>
    <li class="divider"></li>
    <li><a href="#!">Ajouter</a></li>
    <li class="divider"></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Liste</a></li>
    <li class="divider"></li>
    <li><a href="#!">Ajouter</a></li>
    <li class="divider"></li>
</ul>
<ul id="dropdown3" class="dropdown-content">
    <li><a href="#!">Liste</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">CNCCV - Admin</a>
        <ul class="right hide-on-med-and-down">
            <!--Onglets déroulant-->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Utilisateurs<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Logements<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Réservations<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Utilisateurs</span>
            </div>
            <div class="card-action">
                <a href="#">Afficher</a>
                <a href="#">Ajouter</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Logements</span>
            </div>
            <div class="card-action">
                <a href="#">Afficher</a>
                <a href="#">Ajouter</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Réservations</span>
            </div>
            <div class="card-action">
                <a href="#">Afficher</a>
                <a href="#">Ajouter</a>
            </div>
        </div>
    </div>
</div>