{% extends '::base.html.twig' %}

{% block body %}

<!--Contenu de l'index et dégradé de couleurs-->
<div class="degrade" id="resa">
    {% include('CnccvHouseBundle:widgets:_header.html.twig') %}
</div>

<h2>Qui sommes-nous ?</h2>
<p>Chez Nous comme Chez Vous (CNcCV) est une entreprise de location de biens immobiliers avec lequels vous pouvez :</p>
<ul>
    <li>Réserver en tant que particulier</li>
    <li>Réserver en tant que professionnel</li>
    <li>Réserver une maison pour plusieurs nuits</li>
    <li>Avoir un service ménager après une semaine de réservation (gratuit)</li>
    <li>Prendre contact avec CNCCV afin de modifier votre réservation (frais applicables selon la situation)</li>
</ul>

<p>Vous ne pouvez pas :</p>
<ul>
    <li>Effectuer le paiement après votre séjour</li>
    <li>Emporter / Vendre / Modifier les biens mobiliers ou immobiliers</li>
</ul>

<p>Voici la liste des frais applicables selon la durée de votre séjour</p>
<ul>
    <li></li>
</ul>

<!--Footer-->
{% include('CnccvHouseBundle:widgets:_footer.html.twig') %}

{% endblock %}
