{% extends '::base.html.twig' %}

{% block body %}
    <div class="degrade">
        {% include('CnccvHouseBundle:widgets:_header.html.twig') %}
        <section>
            <div class="container">
                {% block section %}{% endblock %}
            </div>
        </section>
    </div>
    {% include('CnccvHouseBundle:widgets:_footer.html.twig') %}
{% endblock %}
