{% extends '::base.html.twig' %}

{% block body %}
    <!--Contenu de l'index et dégradé de couleurs-->
    <div class="degrade">
        {% include('CnccvHouseBundle:widgets:_header.html.twig') %}
        <section>
            <div class="container">
                {% block section %}{% endblock %}
            </div>
        </section>
    </div>

    <!--Cartes des maisons-->
    {% include('CnccvHouseBundle:Default:cards.html.twig') %}

    <!--Google Map-->
    {% include('CnccvHouseBundle:widgets:_map.html.twig') %}

    <!--Footer-->
    {% include('CnccvHouseBundle:widgets:_footer.html.twig') %}
{% endblock %}
