$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #3E849E;
$color-pink: #ff6959;
$color-grey: #808080;
$color-orange: #FFAA59;
$color-red: #BF2414;

@import "partials/mixins";
@import "./plugins/materialize/sass/materialize";
@import "./plugins/calendrier/calendrier";

@import "style";