// Google Map
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

body {
  box-shadow: 0 0 20px $color-white;
  margin-bottom: 1px;
  padding-bottom: 1px;
  background-color: #ebebf2;
}

// Texte du menu fixé
.gt {
  font-size: 125%;
}

// Slogan
.p1 {
  color: #5d5d5d;
  padding-left: 50px;
}

.p2 {
  color: #ffbb00;
  text-align: center;
  padding-left: 150px;
}

// Menu dates/voyageurs
.menuliste2 {
  padding-top: 80px;
  ul {
    list-style-type: none;
    @include border-radius(10px);
    display: flex;
    @include btn-menu();
  }
}

// Ajustement des cartes des maisons
.card-padding {
  padding-top: 25px;
}

.degrade {
  box-shadow: 0 0 20px white;
  background-color: #F8F8FF;
  padding-bottom: 15px;
  padding-top: 5px;
  section {
  }
}

.btn-align {
  margin-top: 20px;
}

.fix {
  position: fixed;

}

h5 {
  text-align: center;
  padding-bottom: 15px;
}

// Changement des menus
@media screen and (max-width: 994px) {
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 994px) {
  .appear {
    display: none;
  }
}