// Google Map
.gm {
  border-top: black solid 1px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

body {
  box-shadow: 0 0 20px $color-white;
  margin-bottom: 1px;
  padding-bottom: 1px;
  background-color: #ebebf2;
}

// A centrer
.center {
  text-align: center;
}

// Body côté admin
.admin {
  background-color: lightgoldenrodyellow;
  box-shadow: 0 0 0 0;
}

// Texte du menu fixé
.gt {
  font-size: 125%;
}

//Logo
.bleuLogo {
  background-color: #398d9d
}

// Slogan
.p1 {
  color: #5d5d5d;
  padding-left: 50px;
}

.p2 {
  color: #ffbb00;
  text-align: center;
  padding-left: 150px;
}

// Menu dates/voyageurs
.menuliste2 {
  padding-top: 80px;
  ul {
    list-style-type: none;
    @include border-radius(10px);
    display: flex;
    @include btn-menu();
  }
}

// Ajustement des cartes des maisons
.card-padding {
  padding-top: 75px;
}

.card-ti {
  padding-left: 5%;
}

// Changement de couleur en dégradé
.degrade {
  box-shadow: 0 0 20px white;
  background-color: #F8F8FF;
  padding-bottom: 15px;
  padding-top: 5px;
  section {
  }
}

.btn-align {
  margin-top: 20px;
}

.fix {
  position: fixed;
}

h5 {
  text-align: center;
  padding-bottom: 15px;
}

// Qui sommes-nous ?
.qui {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 25%;
  margin-right: 20%;
  background-color: #fbfafa;
  border: solid 1px black;
  padding-left: 10px;
  h3 {
    text-align: center;
    margin-bottom: 30px;
  }
  li {
    margin-left: 3%;
  }
  .gras {
    font-weight: bold;
  }
}

// Changement des menus
@media screen and (max-width: 993px) {
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 995px) {
  .appear {
    display: none;
  }
}