{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Création d'un réservation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="waves-effect waves-light btn" type="submit" value="Créer"/>
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('reservation_index') }}">Retour à la liste</a>
            </li>
        </ul>
    </div>
{% endblock %}
